.home-container {
    padding: 10px;
    font-size: 22px;
    text-align: center;
  }
  
  .home-card-upper {
    display: flex;
    margin-top: 20px;
    flex-direction: column-reverse;
    border-radius: 10px;
  }
  
  .home-card-bottom {
    padding: 25px;
    margin-top: 20px;
    height: 130px;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    box-shadow: none;
    border-radius: 5px;
  }
  
  .home-content-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    padding: 10px 10px 60px 10px;
  }
  
  .home-content-container h1 {
    width: 260px;
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  .home-content-container p {
    width: 260px;
    color: #ffffff;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 30px;
  }
  
  .home-image-container {
    padding: 50px 15px;
  }
  
  .home-image-container svg {
    width: 80%;
    height: auto;
  }
  
  @media (min-width: 576px) {
    .home-container {
      padding: 15px;
      font-size: 40px;
    }
  
    .home-content-container h1 {
      width: 420px;
      font-size: 0.9em;
      margin-bottom: 20px;
    }
  
    .home-content-container p {
      width: 420px;
      font-size: 0.5em;
      margin-bottom: 20px;
    }
  
    .home-image-container svg {
      width: 407px;
    }
  }
  
  @media (min-width: 768px) {
    .home-card-bottom {
     justify-content: left;
     padding-left: 85px;
    }
  }
  
  @media (min-width: 1200px) {
    .home-card-upper {
      flex-direction: row;
      width: 980px;
      height: 365px;
      margin: auto;
    }
  
    .home-card-bottom {
      width: 980px;
      margin: auto;
      margin-top: 30px;
    }
  
    .home-content-container {
      margin-left: 85px;
    }
  
    .home-content-container h1 {
      margin-top: 140px;
      line-height: 1px;
    }
  
    .home-content-container p {
      text-align: left;
    }
  
    .home-image-container svg {
      margin-top: 30px;
      width: 333px;
    }
  }